body {
  height: 100vh;
  margin: 0;
}

.center {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.calendar {
  flex-wrap: wrap;
  gap: 1px;
  width: 706px;
  padding: 10px;
  display: flex;
}

.calendar--mon :nth-child(-n+1) {
  margin-left: 0;
}

.calendar--tue :nth-child(-n+1) {
  margin-left: 101px;
}

.calendar--wed :nth-child(-n+1) {
  margin-left: 202px;
}

.calendar--thu :nth-child(-n+1) {
  margin-left: 303px;
}

.calendar--fri :nth-child(-n+1) {
  margin-left: 404px;
}

.calendar--sat :nth-child(-n+1) {
  margin-left: 505px;
}

.calendar--sun :nth-child(-n+1) {
  margin-left: 606px;
}

.calendar__month-lenght--1 :nth-child(-n+1) {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar :first-child:before {
  content: "1";
}

.calendar__month-lenght--26 :nth-last-child(-n+5), .calendar__month-lenght--27 :nth-last-child(-n+4), .calendar__month-lenght--28 :nth-last-child(-n+3), .calendar__month-lenght--29 :nth-last-child(-n+2), .calendar__month-lenght--30 :nth-last-child(-n+1) {
  display: none;
}

.calendar__month-lenght--2 :nth-child(-n+2) {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar :nth-child(2):before {
  content: "2";
}

.calendar__month-lenght--26 :nth-last-child(-n+5), .calendar__month-lenght--27 :nth-last-child(-n+4), .calendar__month-lenght--28 :nth-last-child(-n+3), .calendar__month-lenght--29 :nth-last-child(-n+2), .calendar__month-lenght--30 :nth-last-child(-n+1) {
  display: none;
}

.calendar__month-lenght--3 :nth-child(-n+3) {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar :nth-child(3):before {
  content: "3";
}

.calendar__month-lenght--26 :nth-last-child(-n+5), .calendar__month-lenght--27 :nth-last-child(-n+4), .calendar__month-lenght--28 :nth-last-child(-n+3), .calendar__month-lenght--29 :nth-last-child(-n+2), .calendar__month-lenght--30 :nth-last-child(-n+1) {
  display: none;
}

.calendar__month-lenght--4 :nth-child(-n+4) {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar :nth-child(4):before {
  content: "4";
}

.calendar__month-lenght--26 :nth-last-child(-n+5), .calendar__month-lenght--27 :nth-last-child(-n+4), .calendar__month-lenght--28 :nth-last-child(-n+3), .calendar__month-lenght--29 :nth-last-child(-n+2), .calendar__month-lenght--30 :nth-last-child(-n+1) {
  display: none;
}

.calendar__month-lenght--5 :nth-child(-n+5) {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar :nth-child(5):before {
  content: "5";
}

.calendar__month-lenght--26 :nth-last-child(-n+5), .calendar__month-lenght--27 :nth-last-child(-n+4), .calendar__month-lenght--28 :nth-last-child(-n+3), .calendar__month-lenght--29 :nth-last-child(-n+2), .calendar__month-lenght--30 :nth-last-child(-n+1) {
  display: none;
}

.calendar__month-lenght--6 :nth-child(-n+6) {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar :nth-child(6):before {
  content: "6";
}

.calendar__month-lenght--26 :nth-last-child(-n+5), .calendar__month-lenght--27 :nth-last-child(-n+4), .calendar__month-lenght--28 :nth-last-child(-n+3), .calendar__month-lenght--29 :nth-last-child(-n+2), .calendar__month-lenght--30 :nth-last-child(-n+1) {
  display: none;
}

.calendar__month-lenght--7 :nth-child(-n+7) {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar :nth-child(7):before {
  content: "7";
}

.calendar__month-lenght--26 :nth-last-child(-n+5), .calendar__month-lenght--27 :nth-last-child(-n+4), .calendar__month-lenght--28 :nth-last-child(-n+3), .calendar__month-lenght--29 :nth-last-child(-n+2), .calendar__month-lenght--30 :nth-last-child(-n+1) {
  display: none;
}

.calendar__month-lenght--8 :nth-child(-n+8) {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar :nth-child(8):before {
  content: "8";
}

.calendar__month-lenght--26 :nth-last-child(-n+5), .calendar__month-lenght--27 :nth-last-child(-n+4), .calendar__month-lenght--28 :nth-last-child(-n+3), .calendar__month-lenght--29 :nth-last-child(-n+2), .calendar__month-lenght--30 :nth-last-child(-n+1) {
  display: none;
}

.calendar__month-lenght--9 :nth-child(-n+9) {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar :nth-child(9):before {
  content: "9";
}

.calendar__month-lenght--26 :nth-last-child(-n+5), .calendar__month-lenght--27 :nth-last-child(-n+4), .calendar__month-lenght--28 :nth-last-child(-n+3), .calendar__month-lenght--29 :nth-last-child(-n+2), .calendar__month-lenght--30 :nth-last-child(-n+1) {
  display: none;
}

.calendar__month-lenght--10 :nth-child(-n+10) {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar :nth-child(10):before {
  content: "10";
}

.calendar__month-lenght--26 :nth-last-child(-n+5), .calendar__month-lenght--27 :nth-last-child(-n+4), .calendar__month-lenght--28 :nth-last-child(-n+3), .calendar__month-lenght--29 :nth-last-child(-n+2), .calendar__month-lenght--30 :nth-last-child(-n+1) {
  display: none;
}

.calendar__month-lenght--11 :nth-child(-n+11) {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar :nth-child(11):before {
  content: "11";
}

.calendar__month-lenght--26 :nth-last-child(-n+5), .calendar__month-lenght--27 :nth-last-child(-n+4), .calendar__month-lenght--28 :nth-last-child(-n+3), .calendar__month-lenght--29 :nth-last-child(-n+2), .calendar__month-lenght--30 :nth-last-child(-n+1) {
  display: none;
}

.calendar__month-lenght--12 :nth-child(-n+12) {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar :nth-child(12):before {
  content: "12";
}

.calendar__month-lenght--26 :nth-last-child(-n+5), .calendar__month-lenght--27 :nth-last-child(-n+4), .calendar__month-lenght--28 :nth-last-child(-n+3), .calendar__month-lenght--29 :nth-last-child(-n+2), .calendar__month-lenght--30 :nth-last-child(-n+1) {
  display: none;
}

.calendar__month-lenght--13 :nth-child(-n+13) {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar :nth-child(13):before {
  content: "13";
}

.calendar__month-lenght--26 :nth-last-child(-n+5), .calendar__month-lenght--27 :nth-last-child(-n+4), .calendar__month-lenght--28 :nth-last-child(-n+3), .calendar__month-lenght--29 :nth-last-child(-n+2), .calendar__month-lenght--30 :nth-last-child(-n+1) {
  display: none;
}

.calendar__month-lenght--14 :nth-child(-n+14) {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar :nth-child(14):before {
  content: "14";
}

.calendar__month-lenght--26 :nth-last-child(-n+5), .calendar__month-lenght--27 :nth-last-child(-n+4), .calendar__month-lenght--28 :nth-last-child(-n+3), .calendar__month-lenght--29 :nth-last-child(-n+2), .calendar__month-lenght--30 :nth-last-child(-n+1) {
  display: none;
}

.calendar__month-lenght--15 :nth-child(-n+15) {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar :nth-child(15):before {
  content: "15";
}

.calendar__month-lenght--26 :nth-last-child(-n+5), .calendar__month-lenght--27 :nth-last-child(-n+4), .calendar__month-lenght--28 :nth-last-child(-n+3), .calendar__month-lenght--29 :nth-last-child(-n+2), .calendar__month-lenght--30 :nth-last-child(-n+1) {
  display: none;
}

.calendar__month-lenght--16 :nth-child(-n+16) {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar :nth-child(16):before {
  content: "16";
}

.calendar__month-lenght--26 :nth-last-child(-n+5), .calendar__month-lenght--27 :nth-last-child(-n+4), .calendar__month-lenght--28 :nth-last-child(-n+3), .calendar__month-lenght--29 :nth-last-child(-n+2), .calendar__month-lenght--30 :nth-last-child(-n+1) {
  display: none;
}

.calendar__month-lenght--17 :nth-child(-n+17) {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar :nth-child(17):before {
  content: "17";
}

.calendar__month-lenght--26 :nth-last-child(-n+5), .calendar__month-lenght--27 :nth-last-child(-n+4), .calendar__month-lenght--28 :nth-last-child(-n+3), .calendar__month-lenght--29 :nth-last-child(-n+2), .calendar__month-lenght--30 :nth-last-child(-n+1) {
  display: none;
}

.calendar__month-lenght--18 :nth-child(-n+18) {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar :nth-child(18):before {
  content: "18";
}

.calendar__month-lenght--26 :nth-last-child(-n+5), .calendar__month-lenght--27 :nth-last-child(-n+4), .calendar__month-lenght--28 :nth-last-child(-n+3), .calendar__month-lenght--29 :nth-last-child(-n+2), .calendar__month-lenght--30 :nth-last-child(-n+1) {
  display: none;
}

.calendar__month-lenght--19 :nth-child(-n+19) {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar :nth-child(19):before {
  content: "19";
}

.calendar__month-lenght--26 :nth-last-child(-n+5), .calendar__month-lenght--27 :nth-last-child(-n+4), .calendar__month-lenght--28 :nth-last-child(-n+3), .calendar__month-lenght--29 :nth-last-child(-n+2), .calendar__month-lenght--30 :nth-last-child(-n+1) {
  display: none;
}

.calendar__month-lenght--20 :nth-child(-n+20) {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar :nth-child(20):before {
  content: "20";
}

.calendar__month-lenght--26 :nth-last-child(-n+5), .calendar__month-lenght--27 :nth-last-child(-n+4), .calendar__month-lenght--28 :nth-last-child(-n+3), .calendar__month-lenght--29 :nth-last-child(-n+2), .calendar__month-lenght--30 :nth-last-child(-n+1) {
  display: none;
}

.calendar__month-lenght--21 :nth-child(-n+21) {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar :nth-child(21):before {
  content: "21";
}

.calendar__month-lenght--26 :nth-last-child(-n+5), .calendar__month-lenght--27 :nth-last-child(-n+4), .calendar__month-lenght--28 :nth-last-child(-n+3), .calendar__month-lenght--29 :nth-last-child(-n+2), .calendar__month-lenght--30 :nth-last-child(-n+1) {
  display: none;
}

.calendar__month-lenght--22 :nth-child(-n+22) {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar :nth-child(22):before {
  content: "22";
}

.calendar__month-lenght--26 :nth-last-child(-n+5), .calendar__month-lenght--27 :nth-last-child(-n+4), .calendar__month-lenght--28 :nth-last-child(-n+3), .calendar__month-lenght--29 :nth-last-child(-n+2), .calendar__month-lenght--30 :nth-last-child(-n+1) {
  display: none;
}

.calendar__month-lenght--23 :nth-child(-n+23) {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar :nth-child(23):before {
  content: "23";
}

.calendar__month-lenght--26 :nth-last-child(-n+5), .calendar__month-lenght--27 :nth-last-child(-n+4), .calendar__month-lenght--28 :nth-last-child(-n+3), .calendar__month-lenght--29 :nth-last-child(-n+2), .calendar__month-lenght--30 :nth-last-child(-n+1) {
  display: none;
}

.calendar__month-lenght--24 :nth-child(-n+24) {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar :nth-child(24):before {
  content: "24";
}

.calendar__month-lenght--26 :nth-last-child(-n+5), .calendar__month-lenght--27 :nth-last-child(-n+4), .calendar__month-lenght--28 :nth-last-child(-n+3), .calendar__month-lenght--29 :nth-last-child(-n+2), .calendar__month-lenght--30 :nth-last-child(-n+1) {
  display: none;
}

.calendar__month-lenght--25 :nth-child(-n+25) {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar :nth-child(25):before {
  content: "25";
}

.calendar__month-lenght--26 :nth-last-child(-n+5), .calendar__month-lenght--27 :nth-last-child(-n+4), .calendar__month-lenght--28 :nth-last-child(-n+3), .calendar__month-lenght--29 :nth-last-child(-n+2), .calendar__month-lenght--30 :nth-last-child(-n+1) {
  display: none;
}

.calendar__month-lenght--26 :nth-child(-n+26) {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar :nth-child(26):before {
  content: "26";
}

.calendar__month-lenght--26 :nth-last-child(-n+5), .calendar__month-lenght--27 :nth-last-child(-n+4), .calendar__month-lenght--28 :nth-last-child(-n+3), .calendar__month-lenght--29 :nth-last-child(-n+2), .calendar__month-lenght--30 :nth-last-child(-n+1) {
  display: none;
}

.calendar__month-lenght--27 :nth-child(-n+27) {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar :nth-child(27):before {
  content: "27";
}

.calendar__month-lenght--26 :nth-last-child(-n+5), .calendar__month-lenght--27 :nth-last-child(-n+4), .calendar__month-lenght--28 :nth-last-child(-n+3), .calendar__month-lenght--29 :nth-last-child(-n+2), .calendar__month-lenght--30 :nth-last-child(-n+1) {
  display: none;
}

.calendar__month-lenght--28 :nth-child(-n+28) {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar :nth-child(28):before {
  content: "28";
}

.calendar__month-lenght--26 :nth-last-child(-n+5), .calendar__month-lenght--27 :nth-last-child(-n+4), .calendar__month-lenght--28 :nth-last-child(-n+3), .calendar__month-lenght--29 :nth-last-child(-n+2), .calendar__month-lenght--30 :nth-last-child(-n+1) {
  display: none;
}

.calendar__month-lenght--29 :nth-child(-n+29) {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar :nth-child(29):before {
  content: "29";
}

.calendar__month-lenght--26 :nth-last-child(-n+5), .calendar__month-lenght--27 :nth-last-child(-n+4), .calendar__month-lenght--28 :nth-last-child(-n+3), .calendar__month-lenght--29 :nth-last-child(-n+2), .calendar__month-lenght--30 :nth-last-child(-n+1) {
  display: none;
}

.calendar__month-lenght--30 :nth-child(-n+30) {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar :nth-child(30):before {
  content: "30";
}

.calendar__month-lenght--26 :nth-last-child(-n+5), .calendar__month-lenght--27 :nth-last-child(-n+4), .calendar__month-lenght--28 :nth-last-child(-n+3), .calendar__month-lenght--29 :nth-last-child(-n+2), .calendar__month-lenght--30 :nth-last-child(-n+1) {
  display: none;
}

.calendar__month-lenght--31 :nth-child(-n+31) {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar :nth-child(31):before {
  content: "31";
}

.calendar__month-lenght--26 :nth-last-child(-n+5), .calendar__month-lenght--27 :nth-last-child(-n+4), .calendar__month-lenght--28 :nth-last-child(-n+3), .calendar__month-lenght--29 :nth-last-child(-n+2), .calendar__month-lenght--30 :nth-last-child(-n+1) {
  display: none;
}

.calendar__day {
  z-index: 0;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  transition: all .5s;
  display: flex;
}

.calendar__day:hover {
  z-index: 1;
  cursor: pointer;
  background-color: #ffbfcb;
  transform: translateY(-20px);
}

/*# sourceMappingURL=index.971c2ea4.css.map */
